@charset "UTF-8";
/* ==================================== */
/* ======== NORMALIZE AND RESET ======= */
/* ==================================== */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
  width: 100%;
}

form {
  margin: 0;
  padding: 0;
}

input, input:focus, textarea, select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

button,
textarea,
.select select,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="number"],
input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

select[disabled] {
  cursor: default;
}

select::-ms-expand {
  display: none;
}

input {
  vertical-align: middle;
}

input::-ms-clear {
  display: none;
}

input[type="radio"]:focus {
  -moz-outline-radius: 12px !important;
  -moz-outline-offset: 0 !important;
}

input[type="checkbox"]:focus {
  -moz-outline-offset: -1px !important;
  -moz-outline: 1px solid #000 !important;
}

input[type="radio"],
input[type="checkbox"],
select {
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

/* ==================================== */
/* ============== LAYOUT ============== */
/* ==================================== */
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.css-scroll-fixed:not(.open-only-mob) {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

@media (max-width: 991px) {
  html.css-scroll-fixed.open-only-mob {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }
}

body {
  color: #262626;
  height: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: #fff url(../../img/empty.png) repeat fixed;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 639px) {
  body {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.main {
  padding: 30px 0 0;
  position: relative;
  clear: both;
  z-index: 4;
}

.user-content {
  padding: 60px 0;
}

.content {
  margin: 0 0 2.4rem 0;
}

.header {
  position: relative;
  z-index: 5;
  background-color: #ee6e73;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer {
  margin: 0 auto;
  position: relative;
  clear: both;
  z-index: 5;
  background-color: lightgreen;
}

.max-wrap {
  max-width: 1960px;
}

.layout {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .layout {
    padding-right: 0;
    padding-left: 0;
  }
}

.max-wrap-text {
  max-width: 720px;
}

.layout-text {
  max-width: 720px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .layout-text {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .layout-text {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.max-wrap-flood {
  max-width: 1040px;
}

.layout-flood {
  max-width: 1040px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .layout-flood {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .layout-flood {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.layout-section {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

/* ==================================== */
/* ============ TYPOGRAPHY ============ */
/* ==================================== */
.user-content h1, .user-content h2, .user-content h3, .user-content h4, .user-content h5, .user-content h6 {
  padding: 0;
  font-weight: 400;
  color: #ee6e73;
  margin: 0 0 2.4rem;
}

@media (max-width: 639px) {
  .user-content h1, .user-content h2, .user-content h3, .user-content h4, .user-content h5, .user-content h6 {
    margin: 0 0 2rem;
  }
}

.user-content h1 {
  font-weight: 300;
  font-size: 4.2rem;
  line-height: 5.2rem;
}

@media (max-width: 991px) {
  .user-content h1 {
    font-size: 3.4rem;
    line-height: 4.2rem;
  }
}

@media (max-width: 639px) {
  .user-content h1 {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

.user-content h2 {
  font-size: 3rem;
  line-height: 4.2rem;
}

@media (max-width: 991px) {
  .user-content h2 {
    font-size: 2.8rem;
    line-height: 3.9rem;
  }
}

@media (max-width: 639px) {
  .user-content h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: 0.01em;
  }
}

.user-content h2::before {
  content: "§ ";
  display: inline;
}

.user-content h3 {
  font-size: 2.4rem;
  line-height: 3rem;
}

@media (max-width: 991px) {
  .user-content h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}

@media (max-width: 639px) {
  .user-content h3 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.02em;
  }
}

.user-content h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 639px) {
  .user-content h4 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.user-content h5 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.user-content h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.user-content .text-title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.content .user-content .text-title + ul,
.content .user-content .text-title + ol,
.content .user-content .text-title + table {
  margin-top: 1.2rem;
}

.user-content p {
  padding: 0;
  margin: 0 0 2.4rem;
}

.user-content hr {
  line-height: 1px;
  height: 0;
  border: none;
  background: none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2.4rem;
}

.user-content a {
  color: blue;
  text-decoration: underline;
  cursor: default;
}

.user-content a:link {
  cursor: pointer;
}

.no-touchevents .user-content a:hover {
  text-decoration: none;
}

.user-content a[href^="javascript:"] {
  cursor: default;
}

.user-content .bd-lead {
  font-size: 2.3rem;
  line-height: 3.5rem;
  font-weight: 300;
}

.user-content img {
  border: none;
  vertical-align: top;
  max-width: 100%;
}

table .user-content img {
  max-width: none;
}

.user-content .table-auto {
  position: relative;
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0 0 2.4rem;
}

.user-content .table-auto table {
  margin-bottom: 0;
  width: auto;
  min-width: 100%;
}

.user-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.user-content table td, .user-content table th {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #262626;
  text-align: left;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  border-color: #aaa;
}

.user-content b, .user-content strong, .user-content th {
  font-weight: bold;
}

.user-content i, .user-content em {
  font-style: italic;
}

.user-content i b, .user-content i strong, .user-content em b, .user-content em strong, .user-content b i, .user-content b em, .user-content strong i, .user-content strong em {
  font-weight: bold;
  font-style: italic;
}

.user-content .mark {
  color: #ff0b4f;
  font-style: inherit;
  font-weight: inherit;
}

.user-content .text-color-alt {
  color: #aaa;
}

.user-content .align-center {
  text-align: center;
}

.user-content .nobr {
  white-space: nowrap;
}

.user-content .bottom-space {
  margin-bottom: 2.4rem;
}

.user-content .hide {
  font-size: 0;
  line-height: 0;
}

@media (max-width: 1919px) {
  .user-content .hide-desk-s {
    display: none !important;
  }
}

@media (max-width: 1599px) {
  .user-content .hide-lap {
    display: none !important;
  }
}

@media (max-width: 1365px) {
  .user-content .hide-net {
    display: none !important;
  }
}

.user-content code.l,
.user-content code.red,
.user-content code.green {
  display: inline;
  padding: 0 2px;
  margin: 0;
}

.user-content .green {
  color: lightseagreen;
}

.user-content .red {
  color: lightcoral;
}

.user-content .gray {
  color: #999999;
}

.user-content .warning {
  display: block;
  background-image: url(../../img/icon-warning.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 24px;
  padding: 10px 10px 10px 45px;
  background-color: rgba(238, 110, 115, 0.1);
}

.user-content .accent {
  font-size: 1.2em;
}

.user-content p + h2,
.user-content ul + h2,
.user-content ol + h2,
.user-content hr + h2,
.user-content table + h2,
.user-content .table-auto + h2 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + h2,
  .user-content ul + h2,
  .user-content ol + h2,
  .user-content hr + h2,
  .user-content table + h2,
  .user-content .table-auto + h2 {
    margin-top: 2rem;
  }
}

.user-content p + h3,
.user-content ul + h3,
.user-content ol + h3,
.user-content hr + h3,
.user-content table + h3,
.user-content .table-auto + h3 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + h3,
  .user-content ul + h3,
  .user-content ol + h3,
  .user-content hr + h3,
  .user-content table + h3,
  .user-content .table-auto + h3 {
    margin-top: 2rem;
  }
}

.user-content p + h4,
.user-content ul + h4,
.user-content ol + h4,
.user-content hr + h4,
.user-content table + h4,
.user-content .table-auto + h4 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + h4,
  .user-content ul + h4,
  .user-content ol + h4,
  .user-content hr + h4,
  .user-content table + h4,
  .user-content .table-auto + h4 {
    margin-top: 2rem;
  }
}

.user-content p + h5,
.user-content ul + h5,
.user-content ol + h5,
.user-content hr + h5,
.user-content table + h5,
.user-content .table-auto + h5 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + h5,
  .user-content ul + h5,
  .user-content ol + h5,
  .user-content hr + h5,
  .user-content table + h5,
  .user-content .table-auto + h5 {
    margin-top: 2rem;
  }
}

.user-content p + h6,
.user-content ul + h6,
.user-content ol + h6,
.user-content hr + h6,
.user-content table + h6,
.user-content .table-auto + h6 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + h6,
  .user-content ul + h6,
  .user-content ol + h6,
  .user-content hr + h6,
  .user-content table + h6,
  .user-content .table-auto + h6 {
    margin-top: 2rem;
  }
}

.user-content p + .h2,
.user-content ul + .h2,
.user-content ol + .h2,
.user-content hr + .h2,
.user-content table + .h2,
.user-content .table-auto + .h2 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + .h2,
  .user-content ul + .h2,
  .user-content ol + .h2,
  .user-content hr + .h2,
  .user-content table + .h2,
  .user-content .table-auto + .h2 {
    margin-top: 2rem;
  }
}

.user-content p + .h3,
.user-content ul + .h3,
.user-content ol + .h3,
.user-content hr + .h3,
.user-content table + .h3,
.user-content .table-auto + .h3 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + .h3,
  .user-content ul + .h3,
  .user-content ol + .h3,
  .user-content hr + .h3,
  .user-content table + .h3,
  .user-content .table-auto + .h3 {
    margin-top: 2rem;
  }
}

.user-content p + .h4,
.user-content ul + .h4,
.user-content ol + .h4,
.user-content hr + .h4,
.user-content table + .h4,
.user-content .table-auto + .h4 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + .h4,
  .user-content ul + .h4,
  .user-content ol + .h4,
  .user-content hr + .h4,
  .user-content table + .h4,
  .user-content .table-auto + .h4 {
    margin-top: 2rem;
  }
}

.user-content p + .h5,
.user-content ul + .h5,
.user-content ol + .h5,
.user-content hr + .h5,
.user-content table + .h5,
.user-content .table-auto + .h5 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + .h5,
  .user-content ul + .h5,
  .user-content ol + .h5,
  .user-content hr + .h5,
  .user-content table + .h5,
  .user-content .table-auto + .h5 {
    margin-top: 2rem;
  }
}

.user-content p + .h6,
.user-content ul + .h6,
.user-content ol + .h6,
.user-content hr + .h6,
.user-content table + .h6,
.user-content .table-auto + .h6 {
  margin-top: 6.2rem;
}

@media (max-width: 639px) {
  .user-content p + .h6,
  .user-content ul + .h6,
  .user-content ol + .h6,
  .user-content hr + .h6,
  .user-content table + .h6,
  .user-content .table-auto + .h6 {
    margin-top: 2rem;
  }
}

.user-content table {
  margin-bottom: 2.4rem;
}

.user-content .table-auto table {
  margin-bottom: 0;
}

.user-content .tbl {
  border: none;
}

.user-content .tbl td,
.user-content .tbl th {
  color: #262626;
  background-color: #f2f2f2;
  border: 0 solid #aaa;
  font-size: 1.4rem;
  line-height: 1.2;
}

.user-content .tbl td:first-child, .user-content .tbl td:first-child,
.user-content .tbl th:first-child,
.user-content .tbl th:first-child {
  border-left-width: 1px;
}

.user-content .tbl td:last-child, .user-content .tbl td:last-child,
.user-content .tbl th:last-child,
.user-content .tbl th:last-child {
  border-right-width: 1px;
}

.user-content .tbl td {
  border-top-width: 1px;
}

.user-content .tbl tbody tr:first-child td {
  border-top-width: 0;
}

.user-content .tbl tbody tr:nth-child(even) td {
  background: #fafafa;
}

.user-content .tbl th,
.user-content .tbl thead td {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
}

.user-content .tbl th,
.user-content .tbl thead td,
.user-content .tbl tfoot td {
  background: #f2f2f2;
  color: #aaa;
  border-color: #f2f2f2;
  border-top-width: 0;
}

.user-content ul {
  list-style: none;
  margin: 0 0 2.4rem;
  padding: 0;
}

.user-content ul > li {
  position: relative;
  padding-left: 2.5rem;
  margin: 0 0 1.2rem;
}

.user-content ul > li::before {
  content: "";
  display: block;
  float: left;
  height: 0;
  width: 0;
  margin: 0.7em 0 -0.7em -2.5rem;
  border: 3px solid #ee6e73;
  border-radius: 3px;
}

.user-content ol {
  counter-reset: section;
  list-style: none;
  margin: 0 0 2.4rem;
  padding: 0;
}

.user-content ol > li {
  padding-left: 2.5rem;
  margin: 0 0 1.2rem;
  position: relative;
  counter-increment: section;
}

.user-content ol > li::before {
  position: relative;
  display: inline-block;
  text-align: left;
  color: #ee6e73;
  content: counter(section) ".";
  padding: 0 4px 0 0;
  min-width: 2.5rem;
  margin-left: -2.5rem;
}

.user-content ul ul,
.user-content ul ol,
.user-content ol ul,
.user-content ol ol {
  margin: 1.2rem 0;
}

.user-content ul:last-child,
.user-content ol:last-child {
  margin-bottom: 0;
}

.user-content > img,
.user-content > .layout-text img,
.user-content > .layout-flood img {
  display: block;
  text-align: center;
  margin: 3rem auto 4rem;
}

@media (max-width: 991px) {
  .user-content > img,
  .user-content > .layout-text img,
  .user-content > .layout-flood img {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .user-content > img,
  .user-content > .layout-text img,
  .user-content > .layout-flood img {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

.user-content > img[align="left"], .user-content > img.imgl,
.user-content > .layout-text img[align="left"],
.user-content > .layout-text img.imgl,
.user-content > .layout-flood img[align="left"],
.user-content > .layout-flood img.imgl {
  float: left;
  text-align: left;
  max-width: 45%;
  margin-top: 0;
  margin-right: 3rem;
}

@media (max-width: 991px) {
  .user-content > img[align="left"], .user-content > img.imgl,
  .user-content > .layout-text img[align="left"],
  .user-content > .layout-text img.imgl,
  .user-content > .layout-flood img[align="left"],
  .user-content > .layout-flood img.imgl {
    margin-right: 2rem;
  }
}

@media (max-width: 639px) {
  .user-content > img[align="left"], .user-content > img.imgl,
  .user-content > .layout-text img[align="left"],
  .user-content > .layout-text img.imgl,
  .user-content > .layout-flood img[align="left"],
  .user-content > .layout-flood img.imgl {
    float: none;
    text-align: left;
    max-width: none;
    margin-right: auto;
  }
}

.user-content > img[align="right"], .user-content > img.imgr,
.user-content > .layout-text img[align="right"],
.user-content > .layout-text img.imgr,
.user-content > .layout-flood img[align="right"],
.user-content > .layout-flood img.imgr {
  float: right;
  text-align: right;
  max-width: 45%;
  margin-top: 0;
  margin-left: 3rem;
}

@media (max-width: 991px) {
  .user-content > img[align="right"], .user-content > img.imgr,
  .user-content > .layout-text img[align="right"],
  .user-content > .layout-text img.imgr,
  .user-content > .layout-flood img[align="right"],
  .user-content > .layout-flood img.imgr {
    margin-left: 2rem;
  }
}

@media (max-width: 639px) {
  .user-content > img[align="right"], .user-content > img.imgr,
  .user-content > .layout-text img[align="right"],
  .user-content > .layout-text img.imgr,
  .user-content > .layout-flood img[align="right"],
  .user-content > .layout-flood img.imgr {
    float: none;
    text-align: left;
    max-width: none;
    margin-left: auto;
  }
}

/* typography elements end */
/* ==================================== */
/* ============ COMPONENTS ============ */
/* ==================================== */
/*video */
.video-holder {
  position: relative;
  padding-bottom: 62%;
  padding-top: 25px;
  height: 0;
}

.video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*video end */
/* separator */
.separator {
  background: url(../../img/icon-separator.svg) no-repeat center;
}

/* separator end */
/* snippet */
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eeeeee;
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
}

.btn i {
  font-style: normal;
  font-weight: 500;
  opacity: 0.6;
}

.btn .octicon {
  vertical-align: text-top;
}

.btn .counter {
  text-shadow: none;
  background-color: #e5e5e5;
}

.btn:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: 0;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}

.btn:focus:hover, .btn.selected:focus {
  border-color: #51a7e8;
}

.btn:hover, .btn:active, .btn.zeroclipboard-is-hover, .btn.zeroclipboard-is-active {
  text-decoration: none;
  background-color: #dddddd;
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-color: #cccccc;
}

.btn:active, .btn.selected, .btn.zeroclipboard-is-active {
  background-color: gainsboro;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.clippy {
  margin-top: -3px;
  position: relative;
  top: 3px;
  vertical-align: baseline;
}

.btn[disabled] .clippy {
  opacity: 0.3;
}

.snippet {
  position: relative;
  overflow: visible;
}

.snippet code {
  font-size: 14px;
  line-height: 20px;
}

.snippet .btn {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.snippet:hover .btn, .snippet .btn:focus {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .snippet .btn {
    opacity: 1;
  }
}

.example + .snippet .btn {
  top: 22px;
  right: 2px;
}

/* snippet end */
/* hljs */
.hljs {
  background-color: #f0f0f0;
}

/* hljs end */

/*# sourceMappingURL=main.css.map */
