@import "../utils/functions";
@import "../utils/placeholders";

// Medium query
// ==========================================================================

$breakpoints: ("desk": 1920px, "desk-s": 1600px, "lap-l": 1440px, "lap": 1366px, "lap-s": 1280px, "net": 1200px, "tab": 992px, "tab-s": 768px, "mob": 640px, "mob-s": 480px);


// Fonts style
// ==========================================================================

$font-norm: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

@mixin font-normal {
  font-family: $font-norm;
}

@mixin font-bold {
  font-weight: bold;
}

@mixin font-italic {
  font-style: italic;
}

@mixin font-bold-italic {
  font-weight: bold;
  font-style: italic;
}

@mixin font-title {
  font-weight: 400;
}

@mixin font-alt {
  font-weight: 400;
}

@mixin font-monospace {
  font-family: $font-monospace;
}


// Base
// ==========================================================================

$font-size: 1.6rem !default;
$line-height: 2.4rem !default;
$letter-spacing: 0.025em !default;

// ----------------------------------------------------
$font-size--mob: 1.4rem !default;
$line-height--mob: 2.0rem !default;


// Spaces
// ==========================================================================

$bottom-space: $line-height !default;


// h1, h2, h3, h4, h5, h6
// ==========================================================================

// Heading h1
$font-size-h1: 4.2rem !default;
$line-height-h1: 5.2rem !default;
$line-height-h1-kef: $line-height-h1 / $font-size-h1;

// ----------------------------------------------------
$font-size-h1--tab: 3.4rem !default;
$line-height-h1--tab: round-float($font-size-h1--tab * $line-height-h1-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
$font-size-h1--mob: 3.0rem !default;
$line-height-h1--mob: round-float($font-size-h1--mob * $line-height-h1-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
@mixin font-h1() {
  font-size: $font-size-h1;
  line-height: $line-height-h1;

  @include media("<tab") {
    font-size: $font-size-h1--tab;
    line-height: $line-height-h1--tab;
  }

  @include media("<mob") {
    font-size: $font-size-h1--mob;
    line-height: $line-height-h1--mob;
  }
}

// Heading h2
$font-size-h2: 3.0rem !default;
$line-height-h2: 4.2rem !default;
$line-height-h2-kef: $line-height-h2 / $font-size-h2;

// ----------------------------------------------------
$font-size-h2--tab: 2.8rem !default;
$line-height-h2--tab: round-float($font-size-h2--tab * $line-height-h2-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
$font-size-h2--mob: 2.4rem !default;
$line-height-h2--mob: round-float($font-size-h2--mob * $line-height-h2-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
@mixin font-h2() {
  font-size: $font-size-h2;
  line-height: $line-height-h2;

  @include media("<tab") {
    font-size: $font-size-h2--tab;
    line-height: $line-height-h2--tab;
  }

  @include media("<mob") {
    font-size: $font-size-h2--mob;
    line-height: $line-height-h2--mob;
    letter-spacing: 0.01em;
  }
}

// Heading h3
$font-size-h3: 2.4rem !default;
$line-height-h3: 3.0rem !default;
$line-height-h3-kef: $line-height-h3 / $font-size-h3;

// ----------------------------------------------------
$font-size-h3--tab: 2.2rem !default;
$line-height-h3--tab: round-float($font-size-h3--tab * $line-height-h3-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
$font-size-h3--mob: 1.8rem !default;
$line-height-h3--mob: round-float($font-size-h3--mob * $line-height-h3-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
@mixin font-h3() {
  font-size: $font-size-h3;
  line-height: $line-height-h3;

  @include media("<tab") {
    font-size: $font-size-h3--tab;
    line-height: $line-height-h3--tab;
  }

  @include media("<mob") {
    font-size: $font-size-h3--mob;
    line-height: $line-height-h3--mob;
    letter-spacing: 0.02em;
  }
}

// Heading h4
$font-size-h4: $font-size !default;
$line-height-h4: $line-height !default;

// ----------------------------------------------------
$font-size-h4--mob: $font-size--mob !default;
$line-height-h4--mob: $line-height--mob !default;

@mixin font-h4() {
  font-size: $font-size-h4;
  line-height: $line-height-h4;

  @include media("<mob") {
    font-size: $font-size-h4--mob;
    line-height: $line-height-h4--mob;
  }
}

// Heading h5
$font-size-h5: $font-size !default;
$line-height-h5: $line-height !default;

// Heading h6
$font-size-h6: $font-size !default;
$line-height-h6: $line-height !default;


// Colors
// ==========================================================================

// ----------------------------------------------------
$base-color: #ee6e73 !default;
$base-color-alt: #6c757d !default;
// ----------------------------------------------------
$bg-color: #fff !default;
$bg-color-alt: #f2f2f2 !default;
$bg-color-light: #f7f7f7 !default;
// ----------------------------------------------------
$text-color: #262626 !default;
$text-color-light: #aaa !default;
$title-color: #ee6e73 !default;
// ----------------------------------------------------
$link-color: blue !default;
$focus-color: #268fff !default;
$focus-shadow: 0 0 0 0.2rem rgba(#268fff, 0.5) !default;
// ----------------------------------------------------
$border-color: #aaa !default;
$mark-color: #ff0b4f !default;
// ----------------------------------------------------
$success-color: #28a745 !default;
$error-color: #dc3545 !default;
$info-color: #17a2b8 !default;
$warning-color: #ffc107 !default;
$light-color: #f8f9fa !default;
$dark-color: #343a40 !default;


// Layout
// ==========================================================================

// отступы слева и справа для всего сайта
$layout-space-horizontal: 20px !default;
// максимальная ширина сайта
$layout-width: 1920px + $layout-space-horizontal*2 !default;
// минимальные отступы слева и справа у текствого блока
$layout-text-space-horizontal: 40px !default;
$layout-text-space-horizontal-md: 30px !default;
$layout-text-space-horizontal-sm: 15px !default;
// максимальная ширина текстового блока
$layout-text-width: 640px + $layout-text-space-horizontal*2 !default;
// минимальные отступы слева и справа у блокоа выходящего за пределы текста
$layout-flood-space-horizontal: 40px !default;
// максимальная ширина текстового блока выходящего за пределы текста
$layout-flood-width: 960px + $layout-text-space-horizontal*2 !default;
// отступы внутри блочных элементов
$grid-space: 30px !default;
$grid-space--md: 20px !default;
$grid-space--sm: 10px !default;


// Article content class
// ==========================================================================

$article-content: article-content !default;


// Animation
// ==========================================================================
$animation-speed: 0.2s !default;
$animation-speed-mouseleave: 0.35s !default;