body {
  background-color: #101013;
  color: white;
}

.section {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.btn-toggle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  left: 5rem;
  top: 50%;
  height: 400px;
  width: 320px;
  text-align: center;
  line-height: 1.5;
  margin-top: -200px;
  background-color: rgba(135, 206, 250, 0.2);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.35s;
  will-change: opacity;
  z-index: 50;
}

.video-expand .btn-toggle {
  opacity: 0;
  pointer-events: none;
}

.btn-toggle__inner {
  display: block;
  padding: 0.5em 1em;
  border: 2px solid currentColor;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 46px;
  width: 46px;
  color: white;
  text-decoration: none;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTIzLjk1NCAyMS4wM2wtOS4xODQtOS4wOTUgOS4wOTItOS4xNzQtMi44MzItMi44MDctOS4wOSA5LjE3OS05LjE3Ni05LjA4OC0yLjgxIDIuODEgOS4xODYgOS4xMDUtOS4wOTUgOS4xODQgMi44MSAyLjgxIDkuMTEyLTkuMTkyIDkuMTggOS4xeiIvPjwvc3ZnPg==);
  background-size: 16px;
}

.btn-close__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  font-size: 0;
  line-height: 0;
  pointer-events: none;
  border: 3px solid transparent;
  box-shadow: 0 0 20px transparent;
  transition: all 0.2s;
  border-radius: 46px;
}

.btn-close:hover .btn-close__inner {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  border-color: currentColor;
  box-shadow: 0 0 20px currentColor;
}

.btn-close:active {
  -ms-transform: scale(0.95);
      transform: scale(0.95);
}

.screen {
  min-height: 100vh;
  position: relative;
}

.screen__img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 1s;
  will-change: opacity;
}

.video-show .screen__img {
  opacity: 0;
  pointer-events: none;
}

.clip-video {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 300px;
  left: 0;
  top: 0;
  z-index: 5;
}

.clip-video__holder {
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  will-change: transform;
  opacity: 0;
  transform: scale3d(0.2, 0.2, 0.2);
}

.clip-video__overflow {
  position: absolute;
  overflow: hidden;
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

.clip-video__shadow {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  box-shadow: inset 0 0 20px 30px #101013;
}

.clip-video__shadow::before {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 5;
  border: 4px solid #101013;
  border-radius: inherit;
}

.clip-video__frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.clip-video video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100vh;
}

/*# sourceMappingURL=clip-video.css.map */
